/*/ Main design /*/
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey;
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
.space{
  height: 5vh;
}

/*/ Table design /*/
table {
    width:100%;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: left;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

/*/ Nav design /*/
ul#menu {
    padding: 0;
    margin-bottom: 11px;
    float: left;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}
ul#menu2 {
    padding: 0;
    margin-bottom: 11px;
    float:right;
}

ul#menu2 li {
    display: inline;
    margin-right: 3px;
}

ul#menu2 li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu2 li a:hover {
    color: white;
    background-color: black;
}




Button{
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
}
Button a{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}









/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
    .button2 {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;  
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  .button2:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  




  /* LOGIN PAGE */
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  background-color: dimgrey;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 98vw;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;

}

.text-center {
  text-align: center;
}

.login .container {
  max-width: 460px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  border-color: orange;
  background-color: dimgrey;
  color: black;
}

.input {
  appearance: none;
  display: block;
  width: 100%;
  color: black;
  border: 1px solid rbg(180, 180, 180);
  background-color: dimgray;
  padding: 1rem;
  border-radius: 0.25rem;
}

.input.input-error {
  border: 1px solid red;
}

.input.input-error:focus {
  border: 1px solid red;
}

.input:focus {
  outline: none;
  border: 1px solid #0084ff;
  background-clip: padding-box;
}

.error-message {
  font-size: 0.85rem;
  color: red;
}

.button {
  background-color: orange;
  padding: 1rem;
  border: none;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  filter: brightness(110%);
}
